<div class="d-flex justify-content-between">
    <h4>Sample app</h4>
    <div>
        <nav>
            <ul class="d-flex">
                <%= link_to "Home" , "#" %>
                    <%= link_to "About" , "#" %>
            </ul>
        </nav>
    </div>
</div>